@if (entries) {
  @for (item of entries; track item.key) {
    <div class="node">
      @if (item.value.type === 'folder') {
      <details class="node__accordion">
        <summary class="node__wrapper">
          <img class="node__arrow" src='assets/arrow.svg' width="10" height="10">
          <div class="node__folder"></div>
          <h2 class="node__title">{{item.key}}</h2>
        </summary>
        @if (item.value.children) {
          <app-file-node [data]="item.value.children"></app-file-node>
        }
      </details>
      } @else {
        <div class="node__wrapper">
          <img src='assets/file.webp' alt="file" width="30" height="42">
          <h2 class="node__title">{{item.key}}</h2>
        </div>
      }
    </div>
  }
}
